<h1>Stupid Coaching</h1>

<div>
  <%= params[:question] %>
  <p><em>-You</em></p>
</div>


<div>
  <%= @answer %>
  <p><em>- Your Coach</em></p>
</div>

<div>
  <%= link_to "Ask more questions", ask_path %>
</div>
